[user]
	name = n.doroshkin
	email = n.doroshkin@12storeez.com
[core]
	excludesfile = /Users/inv/.config/git/.gitignore
	editor = nvim
  pager = delta
[http]
	sslVerify = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[alias]
	up = pull --rebase --autostash
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[merge]
  conflictstyle = zdiff3
